[submodule "odoo_FE"]
	path = odoo_FE
	url = git@github.com:saydigital/odoo_FE.git
	branch = 13.0
[submodule "syd_consolidated"]
	path = syd_consolidated
	url = git@github.com:saydigital/syd_consolidated.git
	branch = 13.0
[submodule "syd_payroll"]
	path = syd_payroll
	url = git@github.com:saydigital/syd_payroll.git
	branch = 13.0
[submodule "odoo-accounting"]
	path = odoo-accounting
	url = git@github.com:saydigital/odoo-accounting.git
	branch = 13.0
