.t_open {
	background-color:#2E4057;
	opacity: 1; 
	font: normal normal bold 40px/47px Raleway;
	letter-spacing: 0px;
	color: #FFFAFA;
}
 .color-open{
   	background: #2E4057; 
 }
 

.t_progress {
	background-color:#C69606;
	opacity: 1; 
	font: normal normal bold 40px/47px Raleway;
	letter-spacing: 0px;
	color: #FFFAFA;
}
 .color-progress{
   	background: #C69606; 
 }
 

.t_waiting {
	background-color:#BA1200;
	opacity: 1; 
	font: normal normal bold 40px/47px Raleway;
	letter-spacing: 0px;
	color: #FFFAFA;
}
 .color-waiting{
   	background: #BA1200; 
 }
 

.t_closed {
	background-color:#01998D;
	opacity: 1; 
	font: normal normal bold 40px/47px Raleway;
	letter-spacing: 0px;
	color: #FFFAFA;
}
 .color-closed{
   	background: #01998D; 
 }


.t_reject {
	background-color:#7D6F86;
	opacity: 1; 
	font: normal normal bold 40px/47px Raleway;
	letter-spacing: 0px;
	color: #FFFAFA;
}
.color-reject{
   	background: #7D6F86; 
 }


.t_all {
	background-color:#65706B;
	opacity: 1; 
	font: normal normal bold 40px/47px Raleway;
	letter-spacing: 0px;
	color: #FFFAFA;
}
.color-all{
   	background: #65706B; 
 }

 .radius {
	border-radius: 0px 50px 50px 0px;
    width: 30px;
    height: 20px;  
    float: left;margin-right: 10px;
  }
#wrapwrap.o_portal {
	background-color:white!important;
	
}
table.border-middle thead,table.border-middle tbody {
	margin-left:70px;
	
}
table.border-middle tr {
	border-bottom:1px solid #c0c0c0;
}

table.border-middle tr_last-child {
	border-bottom:0;
}